{% extends 'base.html' %}
{% block content %}

<header class="bg-secondary py-5 bodys-container">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
           <h1 class="display-4 fw-bolder">Payment cancelled</h1>
           <p class="lead fw-normal text-white-50 mb-0">Your card has not been charged. Please try again.</p>
           <a href="{% url 'index' %}" class="btn btn-primary my-4 mx-2">Go back Home</a>                       
        </div>
    </div>
</header>

{% endblock %}