.card-custom-title {
    flex-grow: 1;
    text-align: center;
    color: rgba(53, 51, 51, 0.8);
    padding-bottom: 6px;
}

.card-custom-price {
    flex-grow: 1;
    text-align: center;
}


.card-custom-description {
    flex-grow: 1;
    height: 6em;
    overflow: hidden;
    text-align: center;
    color: rgba(53, 51, 51, 0.483);
}

.sale-badge {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%)
}

.img-small {
    width: 180px;
    height: 180px;
    padding: 10px;
}

.card-size {
    /* width: 75%; */
    margin: auto;
}

.cart-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media screen and (min-width: 1000px) {
    .cart-container {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .cart-items {
        width: 65%;
    }

    .cart-summary {
        width: 30%;
    }
}

.success-header {
    /* header height occupies the full screen, 
    minus the height of footer and the top nav bar*/
    height: calc(100vh - 120px - 56px); 
}
