{% extends 'base.html'%}
example
{% block content%}
{% include 'hero_header.html'%}
<h1>Hello world</h1>
<section class="product-cards">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 rows-cols-2 rows-cols-md-3 rows-cols-xl-4 justify-content-center">
            <!-- One Card design -->
            <div class="col mb-5">
                <div class="card h-100">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="text-center"><a href="#" class="btn btn-primary">BUY </a></div>
                    </div>
                </div>
            </div>
            <!-- end of card design -->
            <!-- One Card design -->
            <div class="col mb-5">
                <div class="card h-100">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="text-center"><a href="#" class="btn btn-primary">BUY </a></div>
                    </div>
                </div>
            </div>
            <!-- end of card design -->
            <!-- One Card design -->
            <div class="col mb-5">
                <div class="card h-100">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="text-center"><a href="#" class="btn btn-primary">BUY </a></div>
                    </div>
                </div>
            </div>
            <!-- end of card design -->
            <!-- One Card design -->
            <div class="col mb-5">
                <div class="card h-100">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="text-center"><a href="#" class="btn btn-primary">BUY </a></div>
                    </div>
                </div>
            </div>
            <!-- end of card design -->
            <!-- One Card design -->
            <div class="col mb-5">
                <div class="card h-100">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="text-center"><a href="#" class="btn btn-primary">BUY </a></div>
                    </div>
                </div>
            </div>
            <!-- end of card design -->
            <!-- One Card design -->
            <div class="col mb-5">
                <div class="card h-100">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="text-center"><a href="#" class="btn btn-primary">BUY </a></div>
                    </div>
                </div>
            </div>
            <!-- end of card design -->
            <!-- One Card design -->
            <div class="col mb-5">
                <div class="card h-100">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="text-center"><a href="#" class="btn btn-primary">BUY </a></div>
                    </div>
                </div>
            </div>
            <!-- end of card design -->
        </div>
        
        
    </div>
    
</section>
{% endblock %}