{% extends 'base.html' %}
{% block content %}
    <header class="bg-dark py-5">
        <div class="container">
            <div class="text-center text-white">
                <h1 class="display-4">Login</h1>
                <p class="lead text-white-50 mb-0">Log in to your account</p>
            </div>
        </div>
        
    </header>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="mb-3 mt-3">
                            <input type="text" name="username" class="form-control" placeholder="Enter your username"/>
                        </div>
                        <div class="mb-3">
                            <input type="password" name="password" class="form-control" placeholder="Enter your password"/>
                        </div>
                        <button type="submit" class="btn btn-secondary">Login</button>
                    </form>
                    <br/><br /><br/><br />
                </div>
            </center>
        </div>
    </div>

{% endblock %}