{% extends 'base.html' %}
{% block content %}
{% load static %}
<head>
    <title>Product page</title>
    <meta name="description" content="Get details about your product">
</head>
<header class="bg-light py-5">
    <div class="container px-4 px-lg-5 my-0">
        <div class="text-center text-black">
           <h1 class="display-4 fw-bolder">{{product.name}}</h1>
           <p class="lead fw-normal text-black-50 mb-0">Details about your chosen product</p>
        </div>
    </div>
</header>
<div class="container product--container">
    <div class="card mb-3 mt-5">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ product.image.url }}" class="img-fluid rounded-start p-5" alt="{{ product.name }}" />
            </div>
            <div class="col-md-8 mb-4">
                <div class="card-body mt-5">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">{{product.description}}</p>

                    {% if product.is_sale %}
                        <p class="card-text">
                            <small class="text-body-secondary">
                                <strike>£{{product.price}}</strike> 
                                &nbsp;&nbsp; 
                            £{{product.sale_price}}
                            </small>
                        </p>
                    {% else %}
                        <p class="card-text"><small class="text-body-secondary">£{{product.price}}</small></p>
                    {% endif %}
                    <br />
                    <div class="row justify-content-start">
                        <div class="col-md-2">Quantity</div>
                        <div class="col-md-2">
                            <select class="form-select form-select-sm" id="qty-cart" aria-label="item quantity">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    
                </div>
                
                <button type="button" value="{{ product.id }}" id="add-cart" class="btn btn-primary mx-2">Add to Cart</button>
                <a href="{% url 'index' %}" class="btn btn-secondary mx-2">Back to Home</a>
            </div>
        </div>
    </div>

    <a class="advertisement--link" href="https://www.apple.com" rel="sponsored noopener noreferrer" target="_blank">
        <div class="advertisement">
            <div class="mb-1">ADVERTISEMENT</div>
            <img src="{% static ad_img %}" class="advertisement--img" alt="Visit Apple">
            <div class="advertisement--link">
                Visit Apple! <i class="bi bi-box-arrow-up-right"></i>
            </div>
        </div>
    </a>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<script>
    $(document).on("click", "#add-cart", function (e) {
	e.preventDefault();
	$.ajax({
		type: "POST",
		url: "{% url 'cart_add' %}",
		data: {
            product_id: $('#add-cart').val(),
            product_qty: $('#qty-cart option:selected').text(),
            csrfmiddlewaretoken: '{{ csrf_token }}',
			product_id: $(this).val(),
			action: "post",
		},

		success: function (json) {
			console.log(json);
            document.getElementById("cart_quantity").textContent = json.qty;
            location.reload();
		},

		error: function (xhr, errormsg, err) {
			console.log("ERROR in Ajax:");
			console.log(err);
		},
	});
});
</script>
{% endblock %}